html {
    background-color: #e0a0ff;
    font-family: 'Consolas';
}

#name{
    color:#a050d0;
}

#usuarios{
    color:#a065a0;
}

#usuario{
    background-color: #d0c0f0;
}

#enviar{
    border-color: #102090;
    background-color: #40c0e0;
}